.heading-container {
	border-bottom: 1px solid #ff3349;
}
.heading-content {
	color: #ecf0f1;
}
h6.heading-content {
	color: #ff3349;
	font-size: 0.85rem;
}
a.heading-content {
	color: #ff3349;
	font-size: 0.85rem;
}
a.heading-content:hover {
	color: #ff3349;
}
