* {
	margin: 0;
	padding: 0;
}
body {
	/* background: #212529 !important; */
	background: #fff !important;
}
/* body::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	-ms-overflow-style: none; 
	scrollbar-width: none;
} */

a:link {
	font-size: 14px;
	transition: all 0.3s ease 0s;
	text-decoration: none !important;
}
a:hover,
a:focus {
	box-shadow: none;
	font-size: 14px;
}
.bg-dark {
	background-color: #212f3d !important;
}
.btn,
.form-control,
.navbar-toggler {
	border-radius: 0 !important;
}
.btn:focus,
.form-control:focus,
.navbar-toggler:focus {
	box-shadow: none !important;
}
